extends ../templates/default_admin
block content
	.row.container
		.col.s12.card.center
			h1="Tablero de Control"
			.card-content
				.col.s12.m6.green
					h3.white-text="Productos Activos"
					h2.white-text=activos
				.col.s12.m6.orange
					h3.white-text="Pendientes de Aprobacion"
					h2.white-text=pendientes
	.row.container
		.col.s12.card.center
			.card-content
				.col.s12
					h3="TOP 10 PRODUCTOS MAS VISITADOS"
					table
						thead
							th="N"
							th="Nombre del Producto"
							th="Visitas"
							th="Solicitudes de contacto"
							th="Precio"
						tbody
							each producto, i in top
								tr
									td=(i+1)
									td=producto.nombre
									td=producto.visitas
									td=producto.contacto
									td=producto.precio
	
	.row.container
		.col.s12.card.center
			h1="Usuarios"
			.card-content
				.col.s12.m4.green
					h3.white-text="Usuarios Activos"
					h2.white-text=usuarios_activos
				.col.s12.m4.orange
					h3.white-text="Usuarios Inactivos"
					h2.white-text=usuarios_inactivos
				.col.s12.m4.red
					h3.white-text="Pendientes"
					h2.white-text=usuarios_pendientes
								
				

						