extends ../templates/default_admin
block content
	div(class="row container")
		div(class="white center")
			br()
			p
			h3="Mis productos Favoritos"
			table(class="center")
				each producto , i in productos
					if(producto.producto)
						tr
							td
								img(src=producto.producto.foto_1 height="100px" )
							td
								h5=producto.producto.nombre
								p=producto.producto.descripcion
							td
								h5="$"+producto.producto.precio
							td
								a(class="waves-effect waves-light btn green" href="/producto/"+producto.producto.nombre)="Ver"
							td
								a(class="waves-effect waves-light btn red" href="/quitar-favoritos?cod="+producto._id)="Quitar"