extends ../templates/default_admin
block content
	div(class="row container")
		div(class="white")
			div(class="col s12 m12 white center card")
				h3="Mis Productos Aprobados"
				table(id="productos" class="striped center")
					thead
						tr(class="center")
							th="ID"
							th="foto"
							th="Producto"
							th="Precio"
							th="Categoria"
							th="Acciones"
						tbody(class="center")
							each producto , i in productos
								if(producto.publicado==1)
									tr
										td
											p=i+1
										td
											img(src=producto.foto_1 height="50px")
										td
											p=producto.nombre
										td
											p="$"+producto.precio
										td
											p=producto.categoria.nombre+"/"+producto.categoria.categoria_padre
										td
											button(class="btn-floating red" onclick="eliminar(this)" id=producto._id)
												i(class="material-icons")="cancel"
			//- div(class="col s12 m12 white center card")
			//- 	h3="Productos Pendientes de Aprobación"
			//- 	table(id="productos" class="striped center")
			//- 		thead
			//- 			tr(class="center")
			//- 				th="ID"
			//- 				th="foto"
			//- 				th="Producto"
			//- 				th="Precio"
			//- 				th="Categoria"
			//- 				th="Acciones"
			//- 			tbody(class="center")
			//- 				each producto , i in productos
			//- 					if(producto.publicado==0)
			//- 						tr
			//- 							td
			//- 								p=i+1
			//- 							td
			//- 								img(src=producto.foto_1 height="50px")
			//- 							td
			//- 								p=producto.nombre
			//- 							td
			//- 								p="$"+producto.precio
			//- 							td
			//- 								p=producto.categoria.nombre+"/"+producto.categoria.categoria_padre
			//- 							td
			//- 								button(class="btn-floating green")
			//- 									i(class="material-icons")="mode_edit"
			//- 								button(class="btn-floating red" onclick="eliminar(this)" id=producto._id)
			//- 									i(class="material-icons")="cancel"
	script(src="/javascripts/admin/mis_productos.js")