extends ../templates/default_admin
block content
	script(src="/javascripts/public/dropzone.js")
	link(rel="stylesheet" href="/stylesheets/drop.css")
	p
	br
	div(class="row container")
		div(class="white")
			div(class="col s12 m12 white center")
				h3="Escoje una Categoría"
				div(id="c1" class="col s12 m6")
					h5="Categorías"
					div(class="collection")
						a(id="bc1" class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(1)" )
							i(class="material-icons left")="directions_car"
							="Autos"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(2)" )
							i(class="material-icons left")="domain"
							="Bienes Inmuebles"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(3)" )
							i(class="material-icons left")="event_seat"
							="Muebles y Artículos de Hogar"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(4)" )
							i(class="material-icons left")="important_devices"
							="Dispositivos Electrónicos"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(5)" )
							i(class="material-icons left")="loyalty"
							="Ropa y Accesorios"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(6)" )
							i(class="material-icons left")="pets"
							="Macotas y Semovientes"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(7)" )
							i(class="material-icons left")="queue_music"
							="Ocio y Artes "
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(8)" )
							i(class="material-icons left")="check_circle"
							="Servicios"
						a(class="collection-item waves-effect waves-light blue white-text" onClick="subcategorias(9)" )
							i(class="material-icons left")="check_circle"
							="Alimentación"
				div(class="col s12 m6" id="c2")
					h5="Sub Categorías"
					div(id="contenedor" class="grey lighten-3 collection")
						a(class="collection-item")="Dale clic en una de las categorías la izquierda"
		div(class="col s12 m12 center blue-grey lighten-5")
			p
			br
			p
		div(class="col s12 m12 center white")
			br 
			p
			h3="Sube varias fotos de tu producto"
			p="Puedes poner mas de una fotografía por producto"
			form(action="/api/subir-imagen-producto" id="demo-upload" method="post", enctype="multipart/form-data", class="dropzone")
				
		div(class="col s12 m12 center blue-grey lighten-5")
			p
			br
			p
		div(class="col s12 white center")
			br
			p
			h3="Ingresa la Descripción del Producto"
			div(class="input-field col s12")
				input(type="text" id="nombre"  class="col s12")
				label(for="nombre")="Nombre del Producto"
			div(class="input-field col s12")
				input(type="number" id="precio" class="validate")
				label(for="precio" data-error="Dato no Valido")="Precio"
			div(class="input-field col s12")
				textarea(id="descripcion" class="materialize-textarea" data-length="200")
				label(for="descripcion")="Descripción"
			div(class="input-field col s12")
				button(class="waves-effect waves-light btn" id="crear")
					i(class="material-icons left")="add_box"
					="Crear Producto"
				p()
				br()
		script(src="/javascripts/admin/nuevo_producto.js")
		