extends ../templates/default_admin
block content
	script(src="https://code.highcharts.com/highcharts.js")
	script(src="https://code.highcharts.com/modules/exporting.js")
	div(class="row center")
		div(class="col s12 m12")
			h5="Bienvenido"
			h4=user.nombre
	div(class="row ")
		div(class="col s12 m12 center")
			a( class="waves-effect waves-light btn-large blue" href="/nuevo-producto")
				i(class="material-icons left")="add"
				="Nuevo Producto"
			br
			p
		//- div(class="col s12 m6 center")
		//- 	a( class="waves-effect waves-light btn-large blue" href="/favoritos")
		//- 		i(class="material-icons left")="star_border"
		//- 		="Mis Favoritos"
	.row.col.s12
		.container
			.card
				.card-body
					div(id="container")
	.row.container
		.col.s12.card
			table(class="bordered")
				thead
					th="N"
					th="Producto"
					th="Pregunta"
					th="Interesado"
					th="Fecha"
					th="Contestar"
				tbody
					each pregunta,i in preguntas
						each producto in productos
							if(pregunta.producto==producto._id)
								tr
									td=(i+1)
									td=producto.nombre
									td=pregunta.pregunta
									td=pregunta.usuario.nombre+"/"+pregunta.usuario.telefono
									-var f= new Date(pregunta.f_creacion).toLocaleString()
									td=f
									td
										a.btn.btn-large.blue(href="/responder?id="+pregunta._id)="responder"
				
	div(class="row  center")
		div(class="col s12 m12")
			h6="* Los Datos Presentados a continuacion representa las interacciones que han tenido tus productos activos en los ultimos 30 dias, recuerda despues de 45 dias despues de ser publicados tus productos pasaran a un estado inactivo"
			
	script(src="/javascripts/admin/estadistica_home.js")