extends ../templates/default_admin
block content
	p
	br
	div(class="row container center")
		div(class='col s12 grey lighten-5')
			div()
				img(src=user.foto class="circle" height="200px"  id="foto")
				p
				br()
			div()
					p
					div(class="file-field input-field center" id="contenedor_imagen")
						div(class="btn center")
							span="Foto"
							form(action="/api/subir-imagen" id="form_imagen" enctype="multipart/form-data" method="post")
								input(type="file" accept="image/x-png,image/png,image/jpeg" name="upload" multiple="multiple" id="imagen")
						div(class="file-path-wrapper")
							input(class="file-path validate" type="text" value="no se ha subido ninguna fotografía")
					div(class="col s12 progress" id="contenedor_progress")
						div(class="indeterminate")
					p
		p
		br
		div(class='col s12 m6 l6 grey lighten-5')
			.card
				.card-content
					span.card-title="Datos de Contacto"
					br()
					form(action="/nuevo-estudiante")
						div(class="input-field col s12 m6")
							input(id="nombre_usuario" type="text" class="validate" value=user.nombre)
							label(for="nombre_usuario")="Nombre"
						div(class="input-field col s12 m6")
							input(id="ci" type="text" class="validate" value=user.ci)
							label(for="ci")="Cédula"
						div(class="input-field col s12 m6")
							input(id="celular" type="text" class="validate" value=user.celular)
							label(for="celular")="Teléfono"
						div(class="input-field col s12 m6")
							input(id="correo" type="email" class="validate" value=user.correo disabled)
							label(for="correo")="Correo Usuario"
						div(class="input-field col s12 m6")
							select(id="socioOscus")
								option="SI"
								option="NO"
							label(for="correo")="¿Es socios de Cooperativa OSCUS?"
						div(class="input-field col s12 m12")
							select(id="ciudad")
								if(user.ciudad)
									option=user.ciudad
								option="Ambato"
								option="Baños"
								option="Guayaquil"
								option="Latacunga"
								option="Patate"
								option="Pelileo"
								option="Píllaro"
								option="Quito"
								option="Riobamba"
								option="Salcedo"
								option="Tena"
								option="Puyo"
						p()
						br()
		div(class='col s12 m6 l6 grey lighten-5' )
			.card
				.card-content
					span.card-title="Datos del Negocio"
					br()
					//- -var nego = JSON.stringify(user.negocio)
					//- p=nego
					form(action="/nuevo-estudiante")
						div(class="input-field col s12 m6")
							input(id="nombreNegocio" type="text" class="validate" value=user.negocio.nombre)
							label(for="nombreNegocio")="Nombre del Negocio"
						div(class="input-field col s12 m6")
							select( id="actividadNegocio")
								if(user.negocio.actividad)
									option(selected default disabled)=user.negocio.actividad
								option="Alimentos"
								option="Comercio"
								option="Producción"
								option="Servicios"
							label(for="celular")="Actividad del Negocio"
						div(class="input-field col s12 m6")
							input(id="telefonoNegocio" type="tel" class="validate" value=user.negocio.telefono )
							label(for="telefonoNegocio")="Teléfono del Negocio"
						div(class="input-field col s12 m6")
							input(id="correoNegocio" type="email" class="validate" value=user.negocio.correo )
							label(for="correoNegocio")="Correo del Negocio"
						div(class="input-field col s12 m12")
							input(id="direccionNegocio" type="text" class="validate" value=user.negocio.direccion )
							label(for="correo")="Dirección del Negocio"
						div(class="input-field col s12 m12" style="padding-top:70px")
							br
							p
							input(type="hidden", id="Negolat" value=user.negocio.lat)
							input(type="hidden", id="Negolng" value=user.negocio.lng)

			

		div(class='col s12 m12 l12 grey lighten-5')
			.card
				.card-content
					div(id="map" style="height: 600px;")
		div(class="col s12 m12 center")
			.card
				.card-content
					button(id="btnActualizar" class="waves-effect waves-light btn blue")="Actualizar Perfil"
	
	script(src="/javascripts/admin/perfil.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDn7ODWVg7HkIJfLaM_VUgeT0Gwqbq9qA&callback=initMap")		
	