extends ../templates/default_admin
block content
    .row.container
        .col.s12.m12.card
            .card-content
                spam.card-title.red-text="Pregunta : "+pregunta.pregunta
                form(action="/responder" method="POST")
                    div(class="input-field col s12 card")
                        br
                        p="Escribe tu respuesta"
                        textarea(id="textarea1" class="materialize-textarea" name="respuesta" required)
                        input(type="hidden" value=pregunta._id name="pregunta")
                        input(type="hidden" value=pregunta.producto name="producto")
                        button(type="submit" class="btn-floating btn-large waves-effect waves-light right red")
                            i(class="material-icons")="send"
                h5="Datos del Interesado"
                table.bordered
                    tr
                        td
                            b="Nombre"
                        td=pregunta.usuario.nombre
                    tr
                        td
                            b="Teléfono"
                        td=pregunta.usuario.telefono
                    tr
                        td
                            b="Correo Electrónico"
                        td=pregunta.usuario.email