extends ../horizontal_material
block content
	br
	p
	p
	.row
		.col.s12.m3
		.col.s12.m6
			.card.white.center(style="padding-bottom:80px")
				.card-content.grey-text
					.col.s12.m12
						span.card-title.black-text
						h3="Hola "+user.nombre+"🖐"
						p="Antes de empezar por favor llena los siguientes datos"
						.row(style="padding-top:50px")
							form(action="/validar-datos" method="POST")
								.input-field.col.s12.m6
									i.material-icons.prefix account_circle
									input#nombre.validate(type='text' value=user.nombre name="nombre" required)
									label(for='icon_prefix') Nombres y Apellidos
								.input-field.col.s12.m6
									i.material-icons.prefix fingerprint
									input#ci.validate(type='text' name="ci" value=user.ci  onblur="validar_cedula(this)" required)
									label(for='icon_prefix') Cedula
								.input-field.col.s12.m6
									i.material-icons.prefix email
									input#correo.validate(type='text' name="correo" value=user.correo  onblur="validar_correo(this)" required)
									label(for='icon_prefix') Correo
								.input-field.col.s12.m6
									i.material-icons.prefix call
									input(type='text' id="celular" name="celular" value=user.celular  required)
									label(for='icon_prefix') Celular
								.row
									.col.s12.m12
										select( class="browser-default" id="ciudad" name="ciudad" required) 
											if(user.ciudad)
												option(selected)=user.ciudad
											option="Ambato"
											option="Baños"
											option="Guayaquil"
											option="Latacunga"
											option="Patate"
											option="Pelileo"
											option="Píllaro"
											option="Quito"
											option="Riobamba"
											option="Salcedo"
											option="Tena"
											option="Puyo"
									
								.row(style="padding-top:80px")
									button(class="waves-effect waves-light green btn" type="submit")="Guardar Datos "
		.col.s12.m3
	script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
	script(src="/javascripts/admin/validarDatos.js")