doctype html
html(lang='es')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="Anuncios OSCUS")
		meta(name='keywords', content='Anuncios OSCUS')
		title Anuncios OSCUS
		// Favicons
		link(rel='icon', href='../material/images/favicon/favicon-32x32.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='../material/images/favicon/apple-touch-icon-152x152.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
		// For Windows Phone
		// CORE CSS
		link(href='../material/css/themes/semi-dark-menu/materialize.css', type='text/css', rel='stylesheet')
		link(href='../material/css/themes/semi-dark-menu/style.css', type='text/css', rel='stylesheet')
		// Custome CSS
		link(href='../material/css/custom/custom.css', type='text/css', rel='stylesheet')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='../material/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
		link(href='../material/vendors/jvectormap/jquery-jvectormap.css', type='text/css', rel='stylesheet')
		link(href='../material/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
		script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(type='text/javascript', src='../material/js/materialize.min.js')
		//dateRange
		link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" )
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js")
		//Fullcalendar
		link(href="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css" rel="stylesheet" )
		//Datatable
		link(href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" )
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
		script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
	body.layout-semi-dark
		// Start Page Loading
		#loader-wrapper
			#loader
			.loader-section.section-left
			.loader-section.section-right
		// End Page Loading
		// ////////////////////////////////////////////////////////////////////////////
		// START HEADER
		header#header.page-topbar
			// start header nav
			.navbar-fixed
				nav.navbar-color
					.nav-wrapper
						.header-search-wrapper.hide-on-med-and-down.sideNav-lock
							//- i.material-icons search
							//- input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Busca Algo')
						ul.right.hide-on-med-and-down
							//- li
							//- 	a.waves-effect.waves-block.waves-light.translation-button(href='javascript:void(0);', data-activates='translation-dropdown')
							//- 		span.flag-icon.flag-icon-gb
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.material-icons settings_overscan
							//- li
							//- 	a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
							//- 		i.material-icons
							//- 			| notifications_none
							//- 			small.notification-badge 5
							li
								a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
									span.avatar-status.avatar-online
										img(src='../material/images/avatar/avatar-7.png', alt='avatar')
										i
							//- li
							//- 	a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
							//- 		i.material-icons format_indent_increase
						// translation-button
						ul#translation-dropdown.dropdown-content
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-gb
									|  English
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-fr
									|  French
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-cn
									|  Chinese
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-de
									|  German
						// notifications-dropdown
						ul#notifications-dropdown.dropdown-content
							li
								h6
									| NOTIFICATIONS
									span.new.badge 5
							li.divider
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.cyan.small add_shopping_cart
									|  A new order has been placed!
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.red.small stars
									|  Completed the task
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.teal.small settings
									|  Settings updated
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 4 days ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.deep-orange.small today
									|  Director meeting started
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 6 days ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.amber.small trending_up
									|  Generate monthly report
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 1 week ago
						// profile-dropdown
						ul#profile-dropdown.dropdown-content
							li
								a.grey-text.text-darken-1(href='/editar-usuario?cod='+user.id)
									i.material-icons face
									|  Mi Perfil
							
							li
								a.grey-text.text-darken-1(href='/salir')
									i.material-icons keyboard_tab
									|  Salir
		// END HEADER
		// ////////////////////////////////////////////////////////////////////////////
		// START MAIN
		#main
			// START WRAPPER
			.wrapper
				// START LEFT SIDEBAR NAV
				aside#left-sidebar-nav.nav-expanded.nav-lock.nav-collapsible
					.brand-sidebar
						a.brand-logo.darken-1(href='/')
							img(src='/images/logohead2.png', alt='materialize logo' style="height: 60px;")
					br
					p
					ul#slide-out.side-nav.fixed.leftside-navigation
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								if(user.tipo=="1")
									li.bold
										a.collapsible-header.waves-effect.waves-cyan.active
											i.material-icons insert_emoticon
											span.nav-text Usuarios
										.collapsible-body
											ul
												li.active
													a(href='/usuarios')
														i.material-icons keyboard_arrow_right
														span Equipo
								if(user.tipo=="1")
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons dvr
											span.nav-text Empresas
										.collapsible-body
											ul
												li
													a(href='/cuentas')
														i.material-icons keyboard_arrow_right
														span  Cuentas
												li
													a(href='../cuentas-nuevo')
														i.material-icons keyboard_arrow_right
														span  Crear Cuenta
												li
													a(href='/estadisticas')
														i.material-icons keyboard_arrow_right
														span  Estadisticas
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons add_shopping_cart
											span.nav-text Productos
										.collapsible-body
											ul
												li
													a(href='/Productos')
														i.material-icons keyboard_arrow_right
														span Mis Productos
								
								if(user.tipo=="1")
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons pin_drop
											span.nav-text Zonas
										.collapsible-body
											ul
												li
													a(href='/zonas')
														i.material-icons keyboard_arrow_right
														span  Zonas
												li
													a.waves-effect.waves-cyan(href='/zonas-nueva')
														i.material-icons keyboard_arrow_right
														span.nav-text Nueva Zona
								if(user.tipo=="1")
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons pin_drop
											span.nav-text Planificador
										.collapsible-body
											ul
												li
													a(href='/planificacion')
														i.material-icons keyboard_arrow_right
														span Planificacion 
												if(user.tipo=="1")
													li
														a.waves-effect.waves-cyan(href='/reporte-planificacion')
															i.material-icons keyboard_arrow_right
															span.nav-text Reporte
								
						if(user.tipo=="1")
							//- li
							//- 	a(href='/auth/facebook')
							//- 		i.material-icons track_changes
							//- 		span.nav-text Conectar Con Facebook 
							//- li
							//- 	a(href='/planificacion-calendario')
							//- 		i.material-icons track_changes
							//- 		span.nav-text Calendario de Planificación 
						li
							a(href='/mis-actividades')
								i.material-icons alarm_add
								span.nav-text Mis Actividades
						
						li
							a(href='/prospecto-nuevo')
								i.material-icons assignment_ind
								span.nav-text Nuevo Prospecto
						//- li
						//- 	a(href='/nueva-visita')
						//- 		i.material-icons directions_run
						//- 		span.nav-text Nueva Visita
						li
							a(href='/planificacion')
								i.material-icons keyboard_arrow_right
								span Planificacion 
						li
							a(href='/visitas-pendientes')
								i.material-icons person_add_disabled
								span.nav-text Visitas Pendientes
						li
							a(href='https://www.facebook.com/smartmanagementEcu/', target='_blank')
								i.material-icons help_outline
								span.nav-text Soporte
						li
							a(href='/editar-usuario?cod='+user.id)
								i.material-icons account_box
								span.nav-text Perfil 
						li
							a(href="/analytics")
								i.material-icons timeline
								| Analytics
						li
							a(href="/reporte-planificacion")
								i.material-icons event
								| Calendario
						li
							a(href='/salir', )
								i.material-icons close
								span.nav-text Salir
					a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.gradient-45deg-light-blue-cyan.gradient-shadow(href='#', data-activates='slide-out')
						i.material-icons menu
				// END LEFT SIDEBAR NAV
				// ////////////////////////////////////////////////////////////////////////////
				// START CONTENT
				section#content
					//breadcum 
					#breadcrumbs-wrapper
						// Search for small screen
						.header-search-wrapper.grey.lighten-2.hide-on-large-only
							input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Explore Materialize')
						.container
							.row
								.col.s10.m6.l6
									h5.breadcrumbs-title=title
									ol.breadcrumbs
										li
											a(href='/') Inicio
										li
											a(href='#')=title
								.col.s2.m6.l6

					// start container
					.container
							block content
						
							// END RIGHT SIDEBAR NAV
							// END WRAECUADORPPER
							// END MAIN
							// ////////////////////////////////////////////////////////////////////////////
							// START FOOTER
	footer.page-footer
		.footer-copyright
			.container
				span
					| Copyright ©
					script(type='text/javascript').
						document.write(new Date().getFullYear());
					a.grey-text.text-darken-2(href='http://ecuadorsmart.com', target='_blank') SMART ECUADOR
					|  All rights reserved.
				span.right.hide-on-small-only
					| Design and Developed by 
					a.grey-text.text-darken-2(href='http://ecuadorsmart.com') SMART ECUADOR
				// END FOOTER
				//
					================================================
					Scripts
					================================================
				// jQuery Library
	
				// materialize js
	
				// prism
	script(type='text/javascript', src='../material/vendors/prism/prism.js')
				// scrollbar
	script(type='text/javascript', src='../material/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
				// chartjs
	script(type='text/javascript', src='../material/vendors/chartjs/chart.min.js')
				// plugins.js - Some Specific JS codes for Plugin Settings
	script(type='text/javascript', src='../material/js/plugins.js')
				// custom-script.js - Add your own theme custom JS
	script(type='text/javascript', src='../material/js/custom-script.js')
	script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
	script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
	//daterange picker
	

