doctype html
html(lang='es')
	//
		================================================================================
		Item Name: EOSCUS 
		Version: 4.0
		Author: SMART ECUADOR
		================================================================================
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="Comparte tus productos a toda nuestra comunidad ")
		meta(name='keywords', content='oscus, anuncios oscus, verder con oscus, ')
		title Anuncios OSCUS
		// Favicons
		link(rel='icon', href='../../material_desing/images/favicon/favicon_eoscus.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='../../material_desing/images/favicon/favicon_eoscus.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='images/favicon/favicon_eoscus.png')
		// Facebook Share
		if(producto)
			meta(property="og:url"  content="https://anuncios.oscus.coop/producto/"+producto.slug)
			meta(property="og:type"          content="website" )
			meta(property="og:title"         content=producto.nombre )
			meta(property="og:description"   content="OSCUS ANUNCIOS, Unidos saldremos adelante publica tu producto  y nosotros lo anunciamos" )
			meta(property="og:image"         content="https://anuncios.oscus.coop"+producto.fotos[0].small)
		// For Windows Phone
		// CORE CSS
		link(href='../../material_desing/css/themes/horizontal-menu/materialize.css', type='text/css', rel='stylesheet')
		link(href='../../material_desing/css/themes/horizontal-menu/style.css', type='text/css', rel='stylesheet')
		// CSS style Horizontal Nav
		link(href='../../material_desing/css/layouts/style-horizontal.css', type='text/css', rel='stylesheet')
		// Custome CSS
		link(href='../../material_desing/css/custom/custom.css', type='text/css', rel='stylesheet')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='../../material_desing/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
		link(href='../../material_desing/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		script(type='text/javascript', src='../../material_desing/vendors/jquery-3.2.1.min.js')
		link(rel='stylesheet', href='/css/nivo-slider.css')
		script(src='/js/jquery.nivo.slider.pack.js')
		
	body#layouts-horizontal
		// Start Page Loading
		#loader-wrapper
			#loader
			.loader-section.section-left
			.loader-section.section-right
		// End Page Loading
		// ////////////////////////////////////////////////////////////////////////////
		// START HEADER
		header#header.page-topbar
			// start header nav
			.navbar-fixed
				nav.navbar-color.gradient-45deg-light-blue-cyan
					.nav-wrapper
						ul.left
							li
								h1.logo-wrapper
									a.brand-logo.darken-1(href='/' style="padding-top:30px")
										//- span.logo-text.hide-on-med-and-down Anuncios
										img(src="/images/logo.png" style="height: 45px;margin-top: -20px;")
						.header-search-wrapper.hide-on-med-and-down
							i.material-icons search
							input.header-search-input.z-depth-2(type='text', id="search" ,name='Search', placeholder='Buscar un Producto')
						ul.right.hide-on-med-and-down
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.material-icons settings_overscan
							if(isAuthenticated)
								//- li
								//- 	a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
								//- 		i.material-icons
								//- 			| notifications_none
								//- 			small.notification-badge.orange.accent-3 5

							if(user)
								a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
									span.avatar-status.avatar-online
										if(user)
											if(user.foto)
												img(src=user.foto, alt='avatar' height="40px" width="40px" )
											else
												img(src='../../material_desing/images/avatar/avatar-7.png', alt='avatar')
							else
								li
									a.white-text(href='/login')="Iniciar Sesión"
								li
									p.white-text=""
								li
									a.white-text(href='/registro')="Registrarse"
									//- a(class="waves-effect waves-light green btn")="Registrate"

								//- a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
								//- 	span.avatar-status.avatar-online
								//- 		if(user)
								//- 			if(user.foto)
								//- 				img(src=user.foto, alt='avatar' height="28px" width="28px" )
								//- 			else
								//- 				img(src='../../material_desing/images/avatar/avatar-7.png', alt='avatar')
								//- 		else
								//- 			img(src='../../material_desing/images/avatar/avatar-7.png', alt='avatar')
								
						// translation-button
						
						// profile-dropdown
						ul#profile-dropdown.dropdown-content
							if(isAuthenticated)
								li
									a.grey-text.text-darken-1(href='/panel')
										i.material-icons dashboard
										|  Dashboard
								li.divider
								li
									a.grey-text.text-darken-1(href="/nuevo-producto")
										i.material-icons add
										|  Nuevo Producto
								li.divider
								li
									a.grey-text.text-darken-1(href='/salir')
										i.material-icons keyboard_tab
										|  Salir
						

				// HORIZONTL NAV START
				nav#horizontal-nav.white.hide-on-med-and-down.center
					.nav-wrapper.center(style="padding-left:10px")
						ul#ul-horizontal-nav.left.hide-on-med-and-down
							li
								a.dropdown-menu(href='/')
									i.material-icons home
									span
										| Inicio
							li
								a.dropdown-menu(href='#!', data-activates='pagesdropdown')
									i.material-icons directions_car
									span
										| Autos
							li
								a.dropdown-menu(href="#!" data-activates='pages2dropdown')
									i.material-icons location_city
									span Bienes
							li
								a.dropdown-menu(data-activates='pages3dropdown')
									i.material-icons weekend
									span  Hogar
							li
								a.dropdown-menu(data-activates='pages4dropdown')
									i.material-icons desktop_mac
									span Dispositivos
							li
								a.dropdown-menu(data-activates='pages5dropdown')
									i.material-icons loyalty
									span Ropa y accesorios
							li
								a.dropdown-menu(data-activates='pages6dropdown')
									i.material-icons pets
									span Animales
							li
								a.dropdown-menu(data-activates='pages7dropdown')
									i.material-icons queue_music
									span Ocio y artes
							li
								a.dropdown-menu(href="/categoria/8")
									i.material-icons supervised_user_circle
									span Servicios
							li
								a.dropdown-menu(href="/categoria/9")
									i.material-icons restaurant
									span Alimentación
							
				// Pagesdropdown
				ul#pagesdropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/1') Accesorios y repuestos
					li
						a(href='/categoria/2') Autos
					li
						a(href='/categoria/3') Motos
					li
						a(href='/categoria/4') Camiones
					li
						a(href='/categoria/5') Otros

				//bienes dropdown
				ul#pages2dropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/6') Departamentos
					li
						a(href='/categoria/7') Casas
					li
						a(href='/categoria/8') Terrenos
					li
						a(href='/categoria/9') Proyectos inmobiliarios
				//bienes dropdown
				ul#pages3dropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/10') Muebles de hogar
					li
						a(href='/categoria/11') Electrodomesticos
					li
						a(href='/categoria/12') Muebles de oficina
					li
						a(href='/categoria/13') Decoración de hogar
				//Dispositivos Electronicos
				ul#pages4dropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/14') Computadores
					li
						a(href='/categoria/15') Tv, audio y video
					li
						a(href='/categoria/16') Consolas de video juegos
					li
						a(href='/categoria/17') Teléfonos
					li
						a(href='/categoria/18') Tablets
					li
						a(href='/categoria/19') Accesorios dispositivos móviles
					li
						a(href='/categoria/20') Consolas de telecomunicaciones
				//ROpa y Accesorios
				ul#pages5dropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/21') Ropa de dama
					li
						a(href='/categoria/22') Ropa de caballero
					li
						a(href='/categoria/23') Calzado de dama
					li
						a(href='/categoria/24') Calzado de caballero
					li
						a(href='/categoria/25') Ropa de niños
					li
						a(href='/categoria/26') Calzado de niños
					li
						a(href='/categoria/29') Joyas y accesorios

				//Mascotas
				ul#pages6dropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/30') Amimales de granja
					li
						a(href='/categoria/31') Otros

				//Mascotas
				ul#pages7dropdown.dropdown-content.dropdown-horizontal-list
					li.active
						a(href='/categoria/32') Libros
					li
						a(href='/categoria/33') Implementos deportivos
					li
						a(href='/categoria/34') Instrumentos musicales
					li
						a(href='/categoria/35') Juegos
					li
						a(href='/categoria/36') Manualidades

			// end header nav
		// END HEADER
		// ////////////////////////////////////////////////////////////////////////////
		// START MAIN
		#main
			// START WRAPPER
			.wrapper
				// START LEFT SIDEBAR NAV
				aside(id='left-sidebar-nav hide-on-large-only')
					ul#slide-out.side-nav.leftside-navigation
						li.active.blue
							a.white-text(href='/') INICIO
						li.green
							a.white-text(href='/login') Iniciar Sesión
						li.active
							a(href='/categoria/1') Accesorios y repuestos
						li
							a(href='/categoria/2') Autos
						li
							a(href='/categoria/3') Motos
						li
							a(href='/categoria/4') Camiones
						li
							a(href='/categoria/5') Otros
						//bienes
						li.active
							a(href='/categoria/6') Departamentos
						li
							a(href='/categoria/7') Casas
						li
							a(href='/categoria/8') Terrenos
						li
							a(href='/categoria/9') Proyectos inmobiliarios
						//Hogar
						li.active
							a(href='/categoria/10') Muebles de hogar
						li
							a(href='/categoria/11') Electrodomesticos
						li
							a(href='/categoria/12') Muebles de oficina
						li
							a(href='/categoria/13') Decoración de hogar
						//Dispositivos Electronicos
						li.active
							a(href='/categoria/14') Computadores
						li
							a(href='/categoria/15') Tv, audio y video
						li
							a(href='/categoria/16') Consolas de video juegos
						li
							a(href='/categoria/17') Teléfonos
						li
							a(href='/categoria/18') Tablets
						li
							a(href='/categoria/19') Accesorios dispositivos móviles
						li
							a(href='/categoria/20') Consolas de telecomunicaciones
						//ROpa y Accesorios
						li.active
							a(href='/categoria/21') Ropa de dama
						li
							a(href='/categoria/22') Ropa de caballero
						li
							a(href='/categoria/23') Calzado de dama
						li
							a(href='/categoria/24') Calzado de caballero
						li
							a(href='/categoria/25') Ropa de niños
						li
							a(href='/categoria/26') Calzado de niños
						li
							a(href='/categoria/29') Joyas y accesorios

						//Mascotas
						li.active
							a(href='/categoria/30') Amimales de granja
						li
							a(href='/categoria/31') Mascotas

						//Mascotas
						li.active
							a(href='/categoria/32') Libros
						li
							a(href='/categoria/33') Implementos deportivos
						li
							a(href='/categoria/34') Instrumentos musicales
						li
							a(href='/categoria/35') Juegos
						li
							a(href='/categoria/36') Manualidades
							//- li.active
							//- 		a.dropdown-menu(href='#!', data-activates='Autosdropdown')
							//- 			i.material-icons directions_car
							//- 			span
							//- 				| Autos
							//- 				i.material-icons.right keyboard_arrow_down
							//- li
							//- 	a.dropdown-menu(href='../../material_desing/../../documentation', data-activates='Bienesdropdown')
							//- 		i.material-icons location_city
							//- 		span Bienes Inmuebles
							//- li
							//- 	a.dropdown-menu(href='../../material_desing/../../documentation', data-activates='Mueblesdropdown')
							//- 		i.material-icons weekend
							//- 		span Muebles y Artículos de Hogar
							//- li
							//- 	a.dropdown-menu(href='https://pixinvent.ticksy.com', target='_blank', data-activates='Electronicosdropdown')
							//- 		i.material-icons desktop_mac
							//- 		span Dispositivos Electrónicos
							//- li
							//- 	a.dropdown-menu(href='https://pixinvent.ticksy.com', target='_blank', data-activates='Ropadropdown')
							//- 		i.material-icons loyalty
							//- 		span Ropa y Accesorios
							//- li
							//- 	a.dropdown-menu(href='https://pixinvent.ticksy.com', target='_blank', data-activates='Mascotasdropdown')
							//- 		i.material-icons pets
							//- 		span Mascotas y Semovientes
							//- li
							//- 	a.dropdown-menu(href='https://pixinvent.ticksy.com', target='_blank', data-activates='Ociodropdown')
							//- 		i.material-icons queue_music
							//- 		span Ocio y Artes
							//- li
							//- 	a.dropdown-menu(href='https://pixinvent.ticksy.com', target='_blank', data-activates='Noticiasdropdown')
							//- 		i.material-icons add_comment
							//- 		span Noticias
					a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#', data-activates='slide-out')
						i.material-icons menu
				// END LEFT SIDEBAR NAV
				// ////////////////////////////////////////////////////////////////////////////
				// START CONTENT
				section#content
					// breadcrumbs start
					.container(style='padding:0px')
						block content

					
				// END CONTENT
				// ////////////////////////////////////////////////////////////////////////////
				
								
				// END RIGHT SIDEBAR NAV
			// END WRAPPER
		// END MAIN
		// ////////////////////////////////////////////////////////////////////////////
		// START FOOTER
		footer.page-footer
			.footer-copyright
				.container
					span
						| Copyright © 2019
					span.right.hide-on-small-only
						| Diseñado y desarrollado por:    
						a.grey-text.text-lighten-4(href='http://ecuadorsmart.com') SMART ECUADOR
		// END FOOTER
		//
			================================================
			Scripts
			================================================
		// jQuery Library
		//- script(type='text/javascript', src='../../material_desing/vendors/jquery-3.2.1.min.js')
		// materialize js
		script(type='text/javascript', src='../../material_desing/js/materialize.min.js')
		// scrollbar
		script(type='text/javascript', src='../../material_desing/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
		// plugins.js - Some Specific JS codes for Plugin Settings
		script(type='text/javascript', src='../../material_desing/js/plugins.js')
		// custom-script.js - Add your own theme custom JS
		script(type='text/javascript', src='../../material_desing/js/custom-script.js')
		//JQUERY
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js")
		script(src="../../javascripts/public/buscador.js")
		script( async src="https://www.googletagmanager.com/gtag/js?id=UA-93706533-4")
		script(src='../../javascripts/public/analytics.js')

