doctype html
html(lang='es')
	//
		================================================================================
		Item Name: Materialize - Material Design Admin Template
		Version: 4.0
		Author: PIXINVENT
		Author URL: https://themeforest.net/user/pixinvent/portfolio
		================================================================================
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="SMART CRM  es una aplicación que te permite tener el control sobre tu equipo de ventas, teniendo estadisticas en tiempo real asi como el rendimiento por usuario y por agencia ")
		meta(name='keywords', content='crm,smart, ventas, jurgen klarick, sales, free sales, social sales, ecuador')
		title SMART CRM
		// Favicons
		link(rel='icon', href='../material_desing/images/favicon/favicon-32x32.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='../material_desing/images/favicon/apple-touch-icon-152x152.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
		// For Windows Phone
		// CORE CSS
		link(href='../material_desing/css/themes/fixed-menu/materialize.css', type='text/css', rel='stylesheet')
		link(href='../material_desing/css/themes/fixed-menu/style.css', type='text/css', rel='stylesheet')
		// Custome CSS
		link(href='../material_desing/css/custom/custom.css', type='text/css', rel='stylesheet')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='../material_desing/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
		link(href='../material_desing/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		script(type='text/javascript', src='javascripts/jquery-3.2.1.min.js')
		script(src='javascripts/code/highcharts.js')
		script(src='javascripts/please-wait/please-wait.js')
		link(rel='stylesheet', href='javascripts/please-wait/please-wait.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css')
		script(src='https://unpkg.com/sweetalert2@7.20.10/dist/sweetalert2.all.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
		script(src='javascripts/code/modules/data.js')
		script(src='javascripts/code/modules/exporting.js')
		script(src="javascripts/tableexport/xlsx.core.min.js")
		script(src="javascripts/tableexport/FileSaver.min.js")
		script(src="javascripts/tableexport/tableexport.min.js")
		script(src='javascripts/datatables/jquery.dataTables.min.js')

		script(src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js')
		script(src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js')
		script(src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js')
		script(src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js")

		
	body
		// Start Page Loading
		#loader-wrapper
			#loader
			.loader-section.section-left
			.loader-section.section-right
		// End Page Loading
		// ////////////////////////////////////////////////////////////////////////////
		// START HEADER
		header#header.page-topbar
			// start header nav
			.navbar-fixed
				nav.blue.darken-4
					.nav-wrapper
						ul.left
							li
								h1.logo-wrapper
									a.brand-logo.darken-1(href='/' style="padding-top:30px")
										span.logo-text.hide-on-med-and-down SMART CRM
						.header-search-wrapper.hide-on-med-and-down
							i.material-icons search
							input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Busca un Cliente')
						ul.right.hide-on-med-and-down
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.material-icons settings_overscan
							//- li
							//- 	a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
							//- 		i.material-icons
							//- 			| notifications_none
							//- 			small.notification-badge.pink.accent-2 5
							li
								a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
									span.avatar-status.avatar-online
										img(src='../material_desing/images/avatar/avatar-7.png', alt='avatar')
										i
							li
								a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
									i.material-icons format_indent_increase
						// notifications-dropdown
						ul#notifications-dropdown.dropdown-content
							li
								h6
									| NOTIFICATIONS
									span.new.badge 5
							li.divider
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.cyan.small add_shopping_cart
									|  Tienes 2 Prospecciones pendientes para Hoy
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.red.small stars
									|  Tienes una tarea pendiente por admin
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
						// profile-dropdown
						ul#profile-dropdown.dropdown-content
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons face
									|  Perfil
							li
								a.grey-text.text-darken-1(href='#')
									i.material-icons live_help
									|  Ayuda
							li.divider
							li
								a.grey-text.text-darken-1(href='/salir')
									i.material-icons keyboard_tab
									|  Salir
			// end header nav
		// END HEADER
		// ////////////////////////////////////////////////////////////////////////////
		// START MAIN
		#main
			// START WRAPPER
			.wrapper
				// START LEFT SIDEBAR NAV
				aside#left-sidebar-nav
					ul#slide-out.side-nav.fixed.leftside-navigation
						li.user-details.cyan.darken-2
							.row
								.col.col.s4.m4.l4
									img.circle.responsive-img.valign.profile-image.cyan(src='../material_desing/images/avatar/avatar-7.png', alt='')
								.col.col.s8.m8.l8
									ul#profile-dropdown-nav.dropdown-content
										li
											a.grey-text.text-darken-1(href='/perfil')
												i.material-icons face
												|  Perfil
										li
											a.grey-text.text-darken-1(href='#')
												i.material-icons live_help
												|  Ayuda
										li.divider
										li
											a.grey-text.text-darken-1(href='#')
												i.material-icons keyboard_tab
												|  Salir
									a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn(href='#', data-activates='profile-dropdown-nav')
										=user.nombre
										i.mdi-navigation-arrow-drop-down.right
									p.user-roal=user.empresa
						if(user.tipo==1)
							li.li-hover
								p.ultra-small.margin.more-text Zona de Administración
							li.no-padding
								ul.collapsible(data-collapsible='accordion')
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons supervised_user_circle
											span.nav-text Usuarios
										.collapsible-body
											ul
												li
													a(href='#')
														i.material-icons add_circle
														span Nuevo Usuario
												li
													a(href='#')
														i.material-icons group_work
														span Mi Equipo
							li.no-padding
								ul.collapsible(data-collapsible='accordion')
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons store
											span.nav-text Mi Empresa
										.collapsible-body
											ul
												li
													a(href='#')
														i.material-icons sort
														span Mis Agencias
												li
													a(href='#')
														i.material-icons add_circle
														span Agregar Agencia
												li
													a(href='#')
														i.material-icons settings
														span Editar Empresa
							li.no-padding
								ul.collapsible(data-collapsible='accordion')
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons assessment
											span.nav-text Estadisticas
										.collapsible-body
											ul
												li
													a(href='#')
														i.material-icons public
														span Estadísticas Globales
												li
													a(href='#')
														i.material-icons person_pin
														span Estadisticas por Usuario

							li.no-padding
								ul.collapsible(data-collapsible='accordion')
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons payment
											span.nav-text Pagos
										.collapsible-body
											ul
												li
													a(href='#')
														i.material-icons sort
														span Pagos Realizados
												li
													a(href='#')
														i.material-icons send
														span Enviar Un pago
												li
													a(href='#')
														i.material-icons move_to_inbox
														span Facturas
						li.li-hover
							p.ultra-small.margin.more-text Herramientas
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons insert_emoticon
										span.nav-text Clientes
									.collapsible-body
										ul
											li
												a(href='/new-client')
													i.material-icons person_add
													span Nuevo Cliente
											li
												a(href='#')
													i.material-icons transfer_within_a_station
													span Mis Clientes
											li
												a(href='#')
													i.material-icons bar_chart
													span Fuentes de Tráfico
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons record_voice_over
										span.nav-text Prospección
									.collapsible-body
										ul
											li
												a(href='/panel')
													i.material-icons dashboard
													span Tablero
											li
												a(href='/salir')
													i.material-icons delete
													span Salir
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons check_circle
										span.nav-text Tareas
									.collapsible-body
										ul
											li
												a(href='#')
													i.material-icons dashboard
													span Tablero
											li
												a(href='#')
													i.material-icons event
													span Calendario
											li
												a(href='#')
													i.material-icons bar_chart
													span Estadísticas
						li
							a(href='#', target='_blank')
								i.material-icons help_outline
								span.nav-text Ayuda
					a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#', data-activates='slide-out')
						i.material-icons menu
				// END LEFT SIDEBAR NAV
				// ////////////////////////////////////////////////////////////////////////////
				// START CONTENT
				section#content
					// breadcrumbs start
					#breadcrumbs-wrapper
						// Search for small screen
						.header-search-wrapper.grey.lighten-2.hide-on-large-only
							input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Busca un Cliente')
					.container
						.row
							block content
						// Floating Action Button
						.fixed-action-btn(style='bottom: 50px; right: 19px;')
							a.btn-floating.btn-large
								i.material-icons add
							ul
								li
									a.btn-floating.blue(href='css-helpers.html')
										i.material-icons help_outline
								li
									a.btn-floating.green(href='cards-extended.html')
										i.material-icons widgets
								li
									a.btn-floating.amber(href='app-calendar.html')
										i.material-icons today
								li
									a.btn-floating.red(href='app-email.html')
										i.material-icons mail_outline
						// Floating Action Button
					// end container
				// END CONTENT
				// ////////////////////////////////////////////////////////////////////////////
				// START RIGHT SIDEBAR NAV
				aside#right-sidebar-nav
					ul#chat-out.side-nav.rightside-navigation
						li.li-hover
							.row
								.col.s12.border-bottom-1.mt-5
									ul.tabs
										li.tab.col.s4
											a.active(href='#activity')
												span.material-icons graphic_eq
								#activity.col.s12
									h6.mt-5.mb-3.ml-3 Actividad Reciente
									.activity
										.col.s3.mt-2.center-align.recent-activity-list-icon
											i.material-icons.white-text.icon-bg-color.deep-purple.lighten-2 transfer_within_a_station
										.col.s9.recent-activity-list-text
											a.deep-purple-text.medium-small(href='#')="hace 5 min"
											p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small="Nueva Visita a la agencia Norte"
										.recent-activity-list.chat-out-list.row.mb-0
											.col.s3.mt-2.center-align.recent-activity-list-icon
												i.material-icons.white-text.icon-bg-color.cyan.lighten-2 receipt
											.col.s9.recent-activity-list-text
												a.cyan-text.medium-small(href='#')="Nueva Cotizacion de Venta"
												p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small="Hecha por Asesor 1, a el cliente Luis Bedon "
										.recent-activity-list.chat-out-list.row.mb-0
											.col.s3.mt-2.center-align.recent-activity-list-icon.medium-small
												i.material-icons.white-text.icon-bg-color.green.lighten-2 build
											.col.s9.recent-activity-list-text
												a.green-text.medium-small(href='#')="Hace 5 min"
												p.mt-0.mb-2.fixed-line-height.font-weight-300.medium-small="Se ha Hecho la revision Mecanica al Auto"
				// END RIGHT SIDEBAR NAV
			// END WRAPPER
		// END MAIN
		// ////////////////////////////////////////////////////////////////////////////
		// START FOOTER
		footer.page-footer.black
			.footer-copyright
				.container
					span
						| Copyright © 
						script(type='text/javascript').
							document.write(new Date().getFullYear());
						a.grey-text.text-lighten-2(href='https://crmsmart.net', target='_blank')=" SMART ECUADOR"
		// END FOOTER
		//
			================================================
			Scripts
			================================================
		// jQuery Library
		script(type='text/javascript', src='../material_desing/vendors/jquery-3.2.1.min.js')
		// materialize js
		script(type='text/javascript', src='../material_desing/js/materialize.min.js')
		// scrollbar
		script(type='text/javascript', src='../material_desing/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
		// plugins.js - Some Specific JS codes for Plugin Settings
		script(type='text/javascript', src='../material_desing/js/plugins.js')
		// custom-script.js - Add your own theme custom JS
		script(type='text/javascript', src='../material_desing/js/custom-script.js')
		script(type='text/javascript', src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
		script(type='text/javascript', src='../javascripts/jquery.ui.touch-punch.min.js')
