doctype html
html(lang='es')
	//
		================================================================================
		Item Name: EOSCUS 
		Version: 4.0
		Author: SMART ECUADOR
		================================================================================
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="Comparte tus productos a toda nuestra comunidad ")
		meta(name='keywords', content='oscus, anuncios oscus, verder con oscus, ')
		title Beneficios OSCUS debit
		// Favicons
		link(rel='icon', href='../../material_desing/images/favicon/favicon_eoscus.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='../../material_desing/images/favicon/favicon_eoscus.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='images/favicon/favicon_eoscus.png')
		// For Windows Phone
		// CORE CSS
		link(href='../../material_desing/css/themes/horizontal-menu/materialize.css', type='text/css', rel='stylesheet')
		link(href='../../material_desing/css/themes/horizontal-menu/style.css', type='text/css', rel='stylesheet')
		// CSS style Horizontal Nav
		link(href='../../material_desing/css/layouts/style-horizontal.css', type='text/css', rel='stylesheet')
		// Custome CSS
		link(href='../../material_desing/css/custom/custom.css', type='text/css', rel='stylesheet')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='../../material_desing/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
		link(href='../../material_desing/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		script(type='text/javascript', src='../../material_desing/vendors/jquery-3.2.1.min.js')
	body#layouts-horizontal
		// Start Page Loading
		#loader-wrapper
			#loader
			.loader-section.section-left
			.loader-section.section-right
		// End Page Loading
		// ////////////////////////////////////////////////////////////////////////////
		// START HEADER
		header#header.page-topbar
			// start header nav
			//- .navbar-fixed
			//- 	nav.navbar-color.gradient-45deg-light-blue-cyan
			//- 		.nav-wrapper
			//- 			ul.left
			//- 				li
			//- 					h1.logo-wrapper
			//- 						a.brand-logo.darken-1(href='/' style="padding-top:30px")
			//- 							//- span.logo-text.hide-on-med-and-down Anuncios
			//- 							img(src="/images/logo.png" style="height: 45px;margin-top: -20px;")
				// HORIZONTL NAV START
				
				//- nav#horizontal-nav.white.hide-on-med-and-down.center
				//- 	.nav-wrapper.center(style="padding-left:10px; left:90px")
				//- 		ul#ul-horizontal-nav.center.hide-on-med-and-down
				//- 			li
				//- 				a.dropdown-menu(href='#!', data-activates='pagesdropdown')
				//- 					i.material-icons location_on
				//- 					span Ambato
				//- 			li
				//- 				a.dropdown-menu(href="#!" data-activates='pages2dropdown')
				//- 					i.material-icons location_on
				//- 					span Baños
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages3dropdown')
				//- 					i.material-icons location_on
				//- 					span Guayaquil
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages4dropdown')
				//- 					i.material-icons location_on
				//- 					span Latacunga
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages5dropdown')
				//- 					i.material-icons location_on
				//- 					span Quito
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages6dropdown')
				//- 					i.material-icons location_on
				//- 					span Patate
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages7dropdown')
				//- 					i.material-icons location_on
				//- 					span Riobamba
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages7dropdown')
				//- 					i.material-icons location_on
				//- 					span Pelileo
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages7dropdown')
				//- 					i.material-icons location_on
				//- 					span Tena
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages7dropdown')
				//- 					i.material-icons location_on
				//- 					span Píllaro
				//- 			li
				//- 				a.dropdown-menu(data-activates='pages7dropdown')
				//- 					i.material-icons location_on
				//- 					span Salcedo
							
				// Pagesdropdown
				
			// end header nav
		// END HEADER
		// ////////////////////////////////////////////////////////////////////////////
		// START MAIN
		#main(style="margin-top: -75px;")
			// START WRAPPER
			.wrapper
				// START LEFT SIDEBAR NAV
				aside.center(id='hide-on-large-only' )
					ul#slide-out.side-nav
						li.active.blue
							a.white-text(href='/') INICIO
						li.active.green
							a.white-text(href='/login') Iniciar Sesión
						li.active
							a(href='/categoria/1') Accesorios y repuestos
						li
							a(href='/categoria/2') Autos
						li
							a(href='/categoria/3') Motos
						li
							a(href='/categoria/4') Camiones
						li
							a(href='/categoria/5') Otros
						//bienes
						li.active
							a(href='/categoria/6') Departamentos
						li
							a(href='/categoria/7') Casas
						li
							a(href='/categoria/8') Terrenos
						li
							a(href='/categoria/9') Proyectos inmobiliarios
						//Hogar
						li.active
							a(href='/categoria/10') Muebles de hogar
						li
							a(href='/categoria/11') Electrodomesticos
						li
							a(href='/categoria/12') Muebles de oficina
						li
							a(href='/categoria/13') Decoración de hogar
						//Dispositivos Electronicos
						li.active
							a(href='/categoria/14') Computadores
						li
							a(href='/categoria/15') Tv, audio y video
						li
							a(href='/categoria/16') Consolas de video juegos
						li
							a(href='/categoria/17') Teléfonos
						li
							a(href='/categoria/18') Tablets
						li
							a(href='/categoria/19') Accesorios dispositivos móviles
						li
							a(href='/categoria/20') Consolas de telecomunicaciones
						//ROpa y Accesorios
						li.active
							a(href='/categoria/21') Ropa de dama
						li
							a(href='/categoria/22') Ropa de caballero
						li
							a(href='/categoria/23') Calzado de dama
						li
							a(href='/categoria/24') Calzado de caballero
						li
							a(href='/categoria/25') Ropa de niños
						li
							a(href='/categoria/26') Calzado de niños
						li
							a(href='/categoria/29') Joyas y accesorios

						//Mascotas
						li.active
							a(href='/categoria/30') Amimales de granja
						li
							a(href='/categoria/31') Mascotas

						//Mascotas
						li.active
							a(href='/categoria/32') Libros
						li
							a(href='/categoria/33') Implementos deportivos
						li
							a(href='/categoria/34') Instrumentos musicales
						li
							a(href='/categoria/35') Juegos
						li
							a(href='/categoria/36') Manualidades
					a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only(href='#', data-activates='slide-out')
						i.material-icons menu
				// END LEFT SIDEBAR NAV
				// ////////////////////////////////////////////////////////////////////////////
				// START CONTENT
				section#content
					// breadcrumbs start
					block content

					
				// END CONTENT
				// ////////////////////////////////////////////////////////////////////////////
				
								
				// END RIGHT SIDEBAR NAV
			// END WRAPPER
		// END MAIN
		// ////////////////////////////////////////////////////////////////////////////
		// START FOOTER
		footer.page-footer.black
			.footer-copyright
				.container
					span
						| Copyright © 2019
					span.right.hide-on-small-only
						| Diseñado y desarrollado por:    
						a.grey-text.text-lighten-4(href='http://ecuadorsmart.com') SMART ECUADOR
		// END FOOTER
		//
			================================================
			Scripts
			================================================
		// jQuery Library
		//- script(type='text/javascript', src='../../material_desing/vendors/jquery-3.2.1.min.js')
		// materialize js
		script(type='text/javascript', src='../../material_desing/js/materialize.min.js')
		// scrollbar
		script(type='text/javascript', src='../../material_desing/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
		// plugins.js - Some Specific JS codes for Plugin Settings
		script(type='text/javascript', src='../../material_desing/js/plugins.js')
		// custom-script.js - Add your own theme custom JS
		script(type='text/javascript', src='../../material_desing/js/custom-script.js')
		//JQUERY
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js")
		script(src="../../javascripts/public/buscador.js")
		script( async src="https://www.googletagmanager.com/gtag/js?id=UA-93706533-4")
		script(src='../../javascripts/public/analytics.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js")
		
