ul(id="dropdown1" class="dropdown-content mega")
	div(class="row")
		div(class="col m6" id="c1")
			li
				a(id="bc1" class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(1)" )
							i(class="material-icons left")="directions_car"
							="Autos"
			li
				a(class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(2)" )
							i(class="material-icons left")="domain"
							="Bienes Inmuebles"
			li
				a(class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(3)" )
							i(class="material-icons left")="event_seat"
							="Muebles y Artículos de Hogar"
			li
				a(class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(4)" )
							i(class="material-icons left")="important_devices"
							="Dispositivos Electrónicos"
			li
				a(class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(5)" )
							i(class="material-icons left")="loyalty"
							="Ropa y Accesorios"
			li
				a(class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(6)" )
							i(class="material-icons left")="pets"
							="Mascotas y Semovientes"
			li
				a(class="collection-item waves-effect waves-light blue white-text" onmouseover="subcategorias(7)" )
							i(class="material-icons left")="queue_music"
							="Ocio y Artes "
		div(class="col m6" id="c2")
			h5="Sub Categorías"
					div(id="contenedor" class="grey lighten-3 collection")
						a(class="collection-item")="Dale clic en una de las categorías la izquierda"
div(class="navbar-fixed")
	nav(class="blue darken-4")
		a(href="#" data-activates="mobile-demo" class="button-collapse")
			i(class="material-icons")="menu"
		div(class="nav-wrapper")
			ul(class="left hide-on-med-and-down")
				li
					a(href="/")
						h4="E-OSCUS"
				
			ul(class="right hide-on-med-and-down")
				li
					a(class="dropdown-button" href="#!" data-activates="dropdown1")
						i(class="material-icons left")="search"
						="Buscar | "
				if(!user)
					li
						a(href="/registrarse")="Registrarse | "
					li
						a(href="/login")="Ingresar | "
					li
						a(href="/ayuda")="Ayuda | "
				else
					li
						a(href="/panel")="Panel | "
					li
						a(href="/nuevo-producto")="Publicar | "
					li
						a(href="/salir")="Salir | "

			ul(class="side-nav" id="mobile-demo")
				li
					a(href="#buscar")
						i(class="material-icons left")="search"
						="Buscar |"
				li
					a(href="/registrarse")="Registrarse "
				li
					a(href="/registrarse")="Ingresar "
				li
					a(href="/registrarse")="Ayuda "
div(id="buscar" class="modal black-text")
	div(class="modal-content center")
		h4="Que estas Buscando"
		p="Escribe el producto, bien o servicio que estas buscando"
		div(class="container row")
			form
				input(type="text" name="indice")
	div(class="modal-footer")
		a(href="#!" class="modal-action modal-close waves-effect waves-green btn-flat green white-text")="Cancelar"
script(src="/javascripts/public/public.js")
script(src="/javascripts/public/carrito.js")