#menu-lateral(clas='blue-grey lighten-4')
	ul#slide-out.side-nav.fixed
		li
			.center.blue-grey.darken-4
				br
				a(href='/mi-perfil')
					img.circle(height='110px', width='110px' src=user.foto)
				a(href='/mi-perfil')
					p
					span(class="white-text")=user.nombre
				a(href='/mi-perfil')
					span(class="white-text")=user.correo
		li
			a(href='/panel') Inicio
		li
			a(href='/') Ir al Comercio
		li
			a(href='/administrar-promociones') Promociones
		li
				a(href='/favoritos')
					i.material-icons star
					span.center Mis Favoritos
		li
				a(href='/mi-perfil')
					i.material-icons account_circle
					span.center Mi Perfil
		ul.collapsible(data-collapsible='accordion')
			li
				.collapsible-header
					i.material-icons shopping_cart
					| Ventas
				.collapsible-body
					ul
						li
							a(href='/mis-productos')  Mis Productos
		if(user.tipo=="1")
			ul.collapsible(data-collapsible='accordion')
				li
					.collapsible-header
						i.material-icons shopping_cart
						| Moderación
					.collapsible-body
						ul
							li
								a(href='/moderacion')  Nuevos Productos
							li
								a(href='/productos-aprobados') Productos Publicados
							li
								a(href='/nuevo-usuario') Nuevo Usuario
							li
								a(href='/usuarios') Usuarios
			li
				a(href='/dashboard')
					i.material-icons dashboard
					span.center Dashboard
		li
			a(href='/salir')
				i.material-icons close
				span.center Salir
script
	$('.button-collapse').sideNav();
	$('.collapsible').collapsible();
	$('select').material_select();
