/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	/* width:100%; */
	height:600px;
	overflow: hidden;
	width: auto; 
	/* height: 100% ;  */
	/* margin:auto !important;  */
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	/* max-width: none; */
	width: auto !important; 
	height: 100% !important; 
	margin:auto !important; 
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	/* width: unset !important; */
	width: auto !important; 
	height: 100% !important; 
	margin:auto !important; 
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
  color: #2b953d;
  cursor: pointer;
  font-size: 25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 8;
}
.nivo-directionNav a i {
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.nivo-directionNav a:after{
	border-left: 1px solid transparent;
	border-right: 50px solid #fff;
	border-top: 50px solid transparent;
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	z-index: -1;
	margin-top: -25px;
	content:"";
	border-bottom: 50px solid transparent;
}
.nivo-directionNav a.nivo-prevNav::after {
  transform: rotate(180deg);
}
.nivo-prevNav i{padding-right:15px;}
.nivo-nextNav i{padding-left:15px;}
.nivo-nextNav {
  right: 0;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	right: 20px;
	padding: 0;
	position: absolute;
	text-align: center;
	bottom: 20px;
	z-index:8;
}

.nivo-control.active {
    background: #fe5858 none repeat scroll 0 0;
    position: relative;
}
.nivo-controlNav a {
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	margin-left: 5px;
	width:8px;
	height:8px;
	border:1px solid #fe5858;
	background:transparent;
	transition: all 0.5s ease 0s;
}
.nivo-controlNav a.active {
	font-weight:bold;
	transition: all 0.5s ease 0s;
}