html
	title='E-OSCUS'
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='https://code.jquery.com/jquery-2.1.1.min.js')
	link(rel='stylesheet' href='/stylesheets/materialize.min.css')
	script(src='/javascripts/materialize/materialize.min.js')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(href="/stylesheets/please-wait.css" rel="stylesheet")
	link(href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet")
	script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
	script(src="/javascripts/please-wait/please-wait.js")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	include ../menu_admin
	body(class="blue-grey lighten-5")
		block content