doctype html
html(lang='es')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='msapplication-tap-highlight', content='no')
		meta(name='description', content="Anuncios OSCUS")
		meta(name='keywords', content='Anuncios OSCUS')
		title Anuncios OSCUS
		// Favicons
		link(rel='icon', href='/material/images/favicon/favicon-32x32.png', sizes='32x32')
		// Favicons
		link(rel='apple-touch-icon-precomposed', href='/material/images/favicon/apple-touch-icon-152x152.png')
		// For iPhone
		meta(name='msapplication-TileColor', content='#00bcd4')
		meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')
		// For Windows Phone
		// CORE CSS
		link(href='/material/css/themes/semi-dark-menu/materialize.css', type='text/css', rel='stylesheet')
		link(href='/material/css/themes/semi-dark-menu/style.css', type='text/css', rel='stylesheet')
		// Custome CSS
		link(href='/material/css/custom/custom.css', type='text/css', rel='stylesheet')
		// INCLUDED PLUGIN CSS ON THIS PAGE
		link(href='/material/vendors/perfect-scrollbar/perfect-scrollbar.css', type='text/css', rel='stylesheet')
		link(href='/material/vendors/jvectormap/jquery-jvectormap.css', type='text/css', rel='stylesheet')
		link(href='/material/vendors/flag-icon/css/flag-icon.min.css', type='text/css', rel='stylesheet')
		script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.min.js')
		script(type='text/javascript', src='/material/js/materialize.min.js')
		//dateRange
		link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" )
		script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js")
		//Fullcalendar
		link(href="https://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css" rel="stylesheet" )
		//Datatable
		link(href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" )
		link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
		script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
		script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
		link(href="/stylesheets/please-wait.css" rel="stylesheet")
		script(src="/javascripts/please-wait/please-wait.js")
	body.layout-semi-dark
		// Start Page Loading
		#loader-wrapper
			#loader
			.loader-section.section-left
			.loader-section.section-right
		// End Page Loading
		// ////////////////////////////////////////////////////////////////////////////
		// START HEADER
		header#header.page-topbar
			// start header nav
			.navbar-fixed
				nav.navbar-color
					.nav-wrapper
						.header-search-wrapper.hide-on-med-and-down.sideNav-lock
							//- i.material-icons search
							//- input.header-search-input.z-depth-2(type='text', name='Search', placeholder='Busca Algo')
						ul.right.hide-on-med-and-down
							//- li
							//- 	a.waves-effect.waves-block.waves-light.translation-button(href='javascript:void(0);', data-activates='translation-dropdown')
							//- 		span.flag-icon.flag-icon-gb
							li
								a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
									i.material-icons settings_overscan
							//- li
							//- 	a.waves-effect.waves-block.waves-light.notification-button(href='javascript:void(0);', data-activates='notifications-dropdown')
							//- 		i.material-icons
							//- 			| notifications_none
							//- 			small.notification-badge 5
							li
								a.waves-effect.waves-block.waves-light.profile-button(href='javascript:void(0);', data-activates='profile-dropdown')
									span.avatar-status.avatar-online
										img(src='/material/images/avatar/avatar-7.png', alt='avatar')
										i
							//- li
							//- 	a.waves-effect.waves-block.waves-light.chat-collapse(href='#', data-activates='chat-out')
							//- 		i.material-icons format_indent_increase
						// translation-button
						ul#translation-dropdown.dropdown-content
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-gb
									|  English
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-fr
									|  French
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-cn
									|  Chinese
							li
								a.grey-text.text-darken-1(href='#!')
									i.flag-icon.flag-icon-de
									|  German
						// notifications-dropdown
						ul#notifications-dropdown.dropdown-content
							li
								h6
									| NOTIFICATIONS
									span.new.badge 5
							li.divider
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.cyan.small add_shopping_cart
									|  A new order has been placed!
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 2 hours ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.red.small stars
									|  Completed the task
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 3 days ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.teal.small settings
									|  Settings updated
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 4 days ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.deep-orange.small today
									|  Director meeting started
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 6 days ago
							li
								a.grey-text.text-darken-2(href='#!')
									span.material-icons.icon-bg-circle.amber.small trending_up
									|  Generate monthly report
								time.media-meta(datetime='2015-06-12T20:50:48+08:00') 1 week ago
						// profile-dropdown
						ul#profile-dropdown.dropdown-content
							li
								a.grey-text.text-darken-1(href='/editar-usuario?cod='+user.id)
									i.material-icons face
									|  Mi Perfil
							
							li
								a.grey-text.text-darken-1(href='/salir')
									i.material-icons keyboard_tab
									|  Salir
		// END HEADER
		// ////////////////////////////////////////////////////////////////////////////
		// START MAIN
		#main
			// START WRAPPER
			.wrapper
				// START LEFT SIDEBAR NAV
				aside#left-sidebar-nav.nav-expanded.nav-lock.nav-collapsible
					.brand-sidebar
						a.brand-logo.darken-1(href='/panel')
							img(src='/images/logo.png', alt='materialize logo' style="height: 60px;")
					br
					p
					
					ul#slide-out.side-nav.fixed.leftside-navigation
						li
							a(href='/panel', )
								i.material-icons house
								span.nav-text Panel 
						li.no-padding
							ul.collapsible(data-collapsible='accordion')
								li.bold
									a.collapsible-header.waves-effect.waves-cyan.active(href='/mi-perfil')
										i.material-icons insert_emoticon
										span.nav-text Perfil
								li.bold
									a.collapsible-header.waves-effect.waves-cyan(href='/beneficios' target="_blank")
										i.material-icons thumb_up
										span.nav-text Beneficios
								li.bold
									a.collapsible-header.waves-effect.waves-cyan
										i.material-icons add_shopping_cart
										span.nav-text Productos
									.collapsible-body
										ul
											li
												a(href='/nuevo-producto')
													i.material-icons keyboard_arrow_right
													span Nuevo Producto
										ul
											li
												a(href='/mis-productos')
													i.material-icons keyboard_arrow_right
													span Mis Productos
										ul
											li
												a(href='/favoritos')
													i.material-icons grade
													span Mis favoritos
								
								if(user.tipo=="1")
									li.bold
										a.collapsible-header.waves-effect.waves-cyan
											i.material-icons pin_drop
											span.nav-text Administración
										.collapsible-body
											ul
												li
													a(href='/moderacion')
														i.material-icons keyboard_arrow_right
														span  Productos
												li
													a.waves-effect.waves-cyan(href='/usuarios')
														i.material-icons keyboard_arrow_right
														span.nav-text usuarios
												li
													a.waves-effect.waves-cyan(href='/nuevo-usuario')
														i.material-icons keyboard_arrow_right
														span.nav-text Nuevo Usuario
								
						
						li
							a(href='/', )
								i.material-icons language
								span.nav-text Volver al Comercio
						li
							a(href='/salir', )
								i.material-icons close
								span.nav-text Salir
					a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.gradient-45deg-light-blue-cyan.gradient-shadow(href='#', data-activates='slide-out')
						i.material-icons menu
				// END LEFT SIDEBAR NAV
				// ////////////////////////////////////////////////////////////////////////////
				// START CONTENT
				section#content
					//breadcum 
					#breadcrumbs-wrapper
						.container
							.row
								.col.s10.m6.l6
									h5.breadcrumbs-title=title
									ol.breadcrumbs
										li
											a(href='/') Inicio
										li
											a(href='#')=title
								.col.s2.m6.l6

					// start container
					.container
							block content
						
							// END RIGHT SIDEBAR NAV
							// END WRAECUADORPPER
							// END MAIN
							// ////////////////////////////////////////////////////////////////////////////
							// START FOOTER
	footer.page-footer
		.footer-copyright
			.container
				span
					| Copyright ©
					script(type='text/javascript').
						document.write(new Date().getFullYear());
					a.grey-text.text-darken-2(href='https://www.oscus.coop', target='_blank') OSCUS
					|  All rights reserved.
				span.right.hide-on-small-only
					| Design and Developed by 
					a.grey-text.text-darken-2(href='https://www.oscus.coop') OSCUS 
				// END FOOTER
				//
					================================================
					Scripts
					================================================
				// jQuery Library
	
				// materialize js
	
				// prism
	script(type='text/javascript', src='/material/vendors/prism/prism.js')
				// scrollbar
	script(type='text/javascript', src='/material/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
				// chartjs
	script(type='text/javascript', src='/material/vendors/chartjs/chart.min.js')
				// plugins.js - Some Specific JS codes for Plugin Settings
	script(type='text/javascript', src='/material/js/plugins.js')
				// custom-script.js - Add your own theme custom JS
	script(type='text/javascript', src='/material/js/custom-script.js')
	script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
	script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
	//daterange picker
	

