html
	title='E-OSCUS'
	script(src='https://code.jquery.com/jquery-2.1.1.min.js')
	link(rel='stylesheet' href='/stylesheets/materialize.min.css')
	link(rel='stylesheet' href='/stylesheets/megamenu.css')
	script(src='/javascripts/materialize/materialize.min.js')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.10/sweetalert2.min.js")
	script(src="javascripts/chatbot.js")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	include ../menu
	body(class="blue-grey lighten-5")
		div(class="fb-customerchat")
		block content