extends ../horizontal_material
block content
    br
    p
    p
    .row
        .col.s12.m1
        .col.s12.m10.card(style="height: 100%;width: 100%;")
            .card-body(id="map" style="height: 600px;" )
        .col.s12.m1
    #modal1.modal
        .modal-content(style="border:4px solid #1e4694; height: 100%;width: 100%;" )
            h5(id="modalTitle")
            .row
                .col.s6
                    //img(src="/img/comercios/efectivo-movil.png" id="commerceImg" style="height: 100px; height: 100px;" )
                    img(src="/img/comercios/efectivo-movil.png" id="commerceImg" style="height: 180px; " )
                .col.s6
                    b Negocio certificado con OSCUS
                    br
                    b.center(id="ciudad")
                    br
                    b Dirección:
                        h6(id="description")
                   
                    b Teléfonos:
                        h6(id="telefonos")
                   
                    b Actividad:
                        h6(id="actividad")
                                   
                  
                    //- p Brinda servicios de Marketing Digital y desarrollo de paginas webs 
                    //- p Ambato, Av. Cevallos y Quito 
                    //- p Teléfonos: 0995555956 
                    br
                    
                    p.center
                        
                        a(class="waves-effect waves-light btn" href="https://www.youtube.com/watch?v=v6SolWPbtgo" target="_blank" style='background-color: #1e4694;')="¿Cómo funciona?"
                
                   
             
        //.modal-footer
            a.modal-close.waves-effect.waves-green.btn-flat(href='#!') OK
    script(src="/js/comercios.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDn7ODWVg7HkIJfLaM_VUgeT0Gwqbq9qA&callback=initMap")
    