extends ../templates/default_admin
block content
	.row.container
		.col.s12.card.center
			spam.card-title="Editar Usuario"
			.card-content
				form(method="post" action="/usuarios-editar")
					.row
						.col.s12.m6.input-field
							input(type="text" name="nombre" value=usuario.nombre)
							label(for="nombre")="Nombre"
						.col.s12.m6.input-field
							input(type="text" name="correo" value=usuario.correo)
							label(for="nombre")="Correo Electrónico"
					.row
						.col.s12.m6.input-field
							input(type="text" name="celular" value=usuario.celular)
							label(for="nombre")="Celular"
						.col.s12.m6.input-field
							input(type="text" name="ciudad" value=usuario.ciudad)
							label(for="nombre")="Ciudad"
					.row
						.col.s12.m6.input-field
							p=""
							br
							input(type="text" name="ci" value=usuario.ci)
							label(for="nombre")="Cédula"
						.col.s12.m6.input-field
							spam="Socio OSCUS desde :"
							if(usuario.f_oscus)
								-var today = new Date(usuario.f_oscus)
								input(type="date" name="f_oscus" value=today.toISOString().substr(0, 10))
							else
								input(type="date" name="f_oscus" )

					.row
						.col.s12.m12.input-field
							if(usuario.activo=="1")
								a(href="/desactivar-usuario?cod="+usuario._id class="btn red white-text")="Desactivar Usuario"
							if(usuario.activo=="0")
								a(href="/activar-usuario?cod="+usuario._id class="btn green white-text")="Activar Usuario"
					
					.row
						.col.s12.m12.input-field
							input(type="hidden" value=usuario._id name="cod")
							input(type="submit" value="Actualizar" class="btn blue white-text")
							br
							p=""
							br
							a(href="/usuarios")="Regresar"

	.row.container
		.col.s12.m12.l12.card.center
			spam.card-title="Enviar correo de Rechazo"
			.card-content
				.col.s12
					a(class="btn btn-large red" href='/send-mail-noSocio?id='+usuario._id )="No es Socio"
				.col.s12(style="margin-top:40px")
					a(class="btn btn-large red" href='/send-mail-infoDesactualizada?id='+usuario._id )="Datos Desactualizados"