extends ../templates/default_admin
block content
	div(class="row container center")
		h4="Nuevo Usuario"
	
	div(class="row container col s12")
		div(class="col s12 m1")
		div(class="col s12 m10")
			div(class="card white row s12")
				h5="Datos de Contacto"
				form(action="/nuevo-usuario" method="post" )
					div(class="input-field col s12 m6")
						input(name="nombre" type="text" class="validate" )
						label(for="nombre_usuario")="Nombre"
					div(class="input-field col s12 m6")
						input(name="ci" type="text" class="validate" )
						label(for="ci_usuario")="Cédula"
					div(class="input-field col s12 m6")
						input(name="celular" type="text" class="validate" )
						label(for="telefono_usuario")="Teléfono"
					div(class="input-field col s12 m6")
						input(name="correo" type="email" class="validate" )
						label(for="correo_usuario")="Correo Usuario"
					div(class="input-field col s12 m12")
						select(name="agencia")
							option(value="ambato")="AMBATO"
							option(value="latacunga")="LATACUNGA"
							option(value="riobamba")="RIOBAMBA"
							option(value="quito")="QUITO"
							option(value="guayaquil")="GUAYAQUIL"
							option(value="tena")="TENA"
					div(class="input-field col s12 m12 center")
						input(class="waves-effect waves-light btn blue" style="padding-top:10px" type="submit" value="Agregar Usuario")
					br
					br
		div(class="col s12 m1")
	script(src="javascripts/moderacion/nuevo_usuario.js")