extends ../templates/default_admin
block content
	div(class="row container center")
		h3="Moderación de Productos"
		table(id="tabla_productos")
			thead
				th="N"
				th="Nombre del Producto"
				th="Descripción del Producto"
				th="Anunciante"
				th="Precio"
				th="Categoría"
				th="Acciones"
				th="Borrar"
			tbody
				each producto, i  in productos
					tr
						td=(i+1)
						td=producto.nombre
						td(style="width:65px;")=producto.descripcion
						td=producto.vendedor.nombre
						td=producto.precio
						td=producto.categoria.nombre
						td
							a(class="waves-effect waves-light btn" href="/moderacion-"+producto._id)="Ver Descripción"
						td
							button(class="btn-floating red" onclick="eliminar(this)" id=producto._id)
								i(class="material-icons")="cancel"
	script(src="/javascripts/admin/mis_productos.js")
	script
		$('#tabla_productos').DataTable();