extends ../templates/default_admin
block content
	div(class="row container center")
		h4="Descripción del Producto"
		h3=producto.nombre
	div(class="col s12 card")
		div(class="col s12 center")
			img(src=producto.foto_1 height="230px" width="230px")
			img(src=producto.foto_2 height="230px" width="230px")
			img(src=producto.foto_3 height="230px" width="230px")
			img(src=producto.foto_4 height="230px" width="230px")
			img(src=producto.foto_5 height="230px" width="230px")
		div(class="col m5 container center")
			h5="Detalles del Producto"
			table(style="padding-left:150px; padding-top:50px" class="bordered")
				tr
					td
						b="Descripción"
					td=producto.descripcion
				tr
					td
						b="Precio"
					td=producto.precio
				tr
					td
						b="Fecha de Publicación"
					-var f= new Date(producto.f_creacion).toLocaleString()
					td=f
				tr
					td
						b="Nombre del Vendedor"
					td=producto.vendedor.nombre
				tr
					td
						b="Correo del Vendedor"
					td=producto.vendedor.correo
		div(class="container center")
			br
			br
			p
			br
			button(class="waves-effect waves-light btn blue" onclick="aprobar('"+producto._id+"' ,'"+producto.vendedor.correo+"')")="Aprobar Producto"
			button(class="waves-effect waves-light btn red"  onclick="rechazar('"+producto._id+"' ,'"+producto.vendedor.correo+"')")="Rechazar Producto"
	script(src="javascripts/moderacion/moderacion_producto.js")