extends ../templates/default_admin
block content
	.row.container
		.col.s12.card.center
			spam.card-title="Listado de usuarios"
			.card-content
				table.bordered#usuarios
					thead
						th="N"
						th="Nombre"
						th="Correo"
						th="Celular"
						th="Cédula"
						th="Agencia"
						th="Acciones"
					tbody
						each usuario, i in usuarios
							if(usuario.activo=="3")
								tr(style="background-color:red")
									td=(i+1)
									td=usuario.nombre
									td=usuario.correo
									td=usuario.celular
									td=usuario.ci
									td=usuario.agencia
									td
										a.btn.btn-large.blue(href="/usuarios-editar?cod="+usuario._id)="Editar"
							if(usuario.activo=="0")
								tr(style="background-color:orange")
									td=(i+1)
									td=usuario.nombre
									td=usuario.correo
									td=usuario.celular
									td=usuario.ci
									td=usuario.agencia
									td
										a.btn.btn-large.blue(href="/usuarios-editar?cod="+usuario._id)="Editar"
							if(usuario.activo=="1")
								tr
									td=(i+1)
									td=usuario.nombre
									td=usuario.correo
									td=usuario.celular
									td=usuario.ci
									td=usuario.agencia
									td
										a.btn.btn-large.blue(href="/usuarios-editar?cod="+usuario._id)="Editar"
	script
		$('#usuarios').DataTable();