extends ../templates/default_admin
block content
	.row.container
		.col.s12.card.center
			spam.card-title="Nueva Promoción"
			div(class="row center")
				div(class='col s12 grey lighten-5')
					div()
						img(src="/images/promo.png"  height="250px" width="250px"  id="foto")
						p
						br()
					div()
							p
							div(class="file-field input-field center" id="contenedor_imagen")
								div(class="btn center")
									span="Foto"
									form(action="/api/subir-imagen" id="form_imagen" enctype="multipart/form-data" method="post")
										input(type="file" accept="image/x-png,image/png,image/jpeg" name="upload" multiple="multiple" id="imagen")
								div(class="file-path-wrapper")
									input(class="file-path validate" type="text" value="no se ha subido ninguna fotografía")
							div(class="col s12 progress" id="contenedor_progress")
								div(class="indeterminate")
			.row.center
				form(action="/administrar-promociones" method="POST")
					.input-field.col.s12.m6
						input(type="text" name="nombre" required)
						label(for="name")="Nombre del Establecimiento"
						input(type="hidden" id="img1" name="imagen")
					.col.s12.m6
						br
						select(name="ciudad" class="browser-default" required)
							option(selected default disable)="Selecciona una ciudad"
							option="AMBATO"
							option="BAÑOS"
							option="GUAYAQUIL"
							option="LATACUNGA"
							option="QUITO"
							option="PATATE"
							option="RIOBAMBA"
							option="PELILEO"
							option="TENA"
							option="PÍLLARO"
							option="SALCEDO"
					.input-field.col.s12
						input(type="text" name="beneficio" placeholder="Ejemplo: 50% de descuento en tus compras")
						label(for="beneficio")="Describe el Beneficio"
					.input-field.col.s12.m4
						input(type="text" name="direccion" )
						label(for="beneficio")="Dirección"
					.input-field.col.s12.m4
						input(type="text" name="telefono" placeholder="(03)3459696")
						label(for="beneficio")="Teléfono"
					.input-field.col.s12.m4
						input(type="text" name="web" placeholder="www.establecimiento.com")
						label(for="beneficio")="Web"
					.input-field.col.s12
						input(type="submit" class='btn btn-large blue' value="Crear Promoción")
					
	.row
		.col.s12.card.center
			spam.card-title="Listado de Promociones"
			.card-content
				table.bordered
					thead
						th="N"
						th="Imagen"
						th="Establecimiento"
						th="Beneficio"
						th="Ciudad"
						th="Teléfono"
						th="Borrar"
					tbody
						each item, i  in promos
							tr
								td=(i+1)
								td
									img(src=item.imagen height="50px")
								td=item.nombre
								td=item.beneficio
								td=item.ciudad
								td=item.telefono
								td
									a.btn.btn-large.red(href="/borrar-promo?cod="+item._id)="Eliminar"


	script(src="/javascripts/promo/nuevo.js")