extends ../layout_beneficios
block content
	style.
		@media screen and (max-width: 640px) { #no_mostrar_mobile{ display:none;}}
		@media screen and (max-width: 640px) { #imagen1{ padding-top:70px;}}
		.iconos>a>img{
			transform:scale(.8);
		}

	.row.m-0.p-0
	section.panels.m-0.p-0
		.col.s12.m12
			div(class="row" id="imagen1" style="")
				img(src="/banners/welcome.jpeg" data-thumb="/images/banners/beneficios.jpg" width="100%" )
	section.panels.white
		div#no_mostrar_mobile(class="row card-panel black center" style="padding-bottom: 0px;margin-top: 0px;padding-top: 12px;")
			.col.iconos(style="display:flex; justify-content: center;")
				a(href="?ciudad=ambato")
					img.responsive-img(src="/banners/ambato.png")
				a(href="?ciudad=banos")
					img.responsive-img(src="/banners/banos.png")
				a(href="?ciudad=guayaquil")
					img.responsive-img(src="/banners/guayaquil.png" )
				a(href="?ciudad=latacunga")
					img.responsive-img(src="/banners/cotopaxi.png")
				a(href="?ciudad=quito")
					img.responsive-img(src="/banners/quito.png")
				a(href="?ciudad=riobamba")
					img.responsive-img(src="/banners/riobamba.png")
				a(href="?ciudad=píllaro")
					img.responsive-img(src="/banners/pillaro.png")
				a(href='?ciudad=salcedo')
					img.responsive-img(src="/banners/salcedo.png")
				a(href='?ciudad=patate')
					img.responsive-img(src="/banners/patate.png")


		.row(id="contenido")
			-var d=0
			each item, i in promos
				-d++
				.col.s12.m3.l3
					.card-panel.border-radius-6.mt-10.card-animation-1(style="height:495px;")
						a(href='#' target="_blank")
							img.responsive-img.border-radius-8.z-depth-4.image-n-margin(src=item.imagen, alt='' height="150px")
						h5(style="font-weight:bold; color:#0E4686; font-size:19px; line-height:1.4;")=item.beneficio
						h6(style="color:#A4C114;")=item.nombre
						h6(style="color:#0E4686; font-weight:bold;")=item.ciudad
						br
						span(style="color:#BBB9B9;").pt-2=item.direccion
						br
						span(style="color:#BBB9B9;").pt-2="Teléfonos: "+item.telefono
						br
						span(style="color:#BBB9B9;").pt-2="Web: "+item.web
				if(d==4)
					.col.s12.m12
					-d=0
	
	script(src="/javascripts/promo/beneficios.js")

