extends ../horizontal_material
block content
	.row.center
		
		if(productos[0])
			h3="Resultados de la Búsqueda"
			each producto , i in productos
				.col.s12.m3
					.card
						.card-image
							img(class="activator" src=producto.fotos[0].small height="200" width="100")
						.card-content
							h6=producto.nombre
							h4="$"+producto.precio
							a(href="/producto/"+producto.slug class="green white-text button waves-effect waves-light btn")="Mas Info"
							if(user)
								a(id=producto.id_producto class="white white-text button waves-effect waves-light btn" onclick="favoritos(this)")
									i(class="material-icons black-text")="favorite_border"
						div.card-reveal
							span(class="card-title grey-text text-darken-4")=producto.nombre
								i(class="material-icons right")="close"
							p=producto.descripcion
		else
			h1
				&#128584;
			h3="Lo sentimos, no encontramos lo que estabas buscando "
			
		

	script(src="../javascripts/public/public.js")

	