extends ../horizontal_material
block content
	.row.center
		
		if(productos[0])
			.col.s12.gradient-45deg-blue-grey-blue(style="padding-top:-30px")
				h4.white-text=categoria.categoria_padre+" / "+categoria.nombre
			h3=productos[0].nombre_categoria2
			each producto , i in productos
				.col.s12.m3
					.card
						.card-image
							img(class="activator" src=src=producto.fotos[0].small height="200" width="100")
						.card-content
							h6=producto.nombre
							h4="$"+producto.precio
							a(href="/producto/"+producto.slug class="green white-text button waves-effect waves-light btn")="Mas Info"
							if(user)
								a(id=producto.id_producto class="white white-text button waves-effect waves-light btn" onclick="favoritos(this)")
									i(class="material-icons black-text")="favorite_border"
						div.card-reveal
							span(class="card-title grey-text text-darken-4")=producto.nombre
								i(class="material-icons right")="close"
							p=producto.descripcion
		else
			h1
				&#128586
			h3="Lo sentimos aún no hay productos en esta sección "
			
		

	script(src="../javascripts/public/public.js")

	