extends ../horizontal_material
block content
	link(rel="stylesheet" href="/stylesheets/nivo-slider.css")
	link(rel="stylesheet" href="/themes/default/default.css")
	div(class="row" style="padding:0px")
		img(src="/banners/juntos.jpg" width="100%")
	.row.center
		h3="Nuevos Productos"
		each producto , i in productos
			.col.s12.m3
				.card
					.card-image(style="height:200px; width:auto;")
						a(href="/producto/"+producto.slug )
							img(class="activator responsive-img" src=producto.fotos[0].small style="height: 100%; object-fit: cover; object-position: center center")
					.card-content(href="/producto/"+producto.slug )
						a(href="/producto/"+producto.slug )
							h6(style="color:black; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" )=producto.nombre
							h4(style="color:black")="$"+producto.precio
						button(class="activator green white-text button waves-effect waves-light btn")="Mas Info"
						if(user)
							a(id=producto.slug class="white white-text button waves-effect waves-light btn" onclick="favoritos(this)")
								i(class="material-icons black-text")="favorite_border"
					div.card-reveal
						span(class="card-title grey-text text-darken-4")=producto.nombre
							i(class="material-icons right")="close"
						p=producto.descripcion
		
	script(src="/javascripts/jquery.nivo.slider.pack.js")
	script(src="/javascripts/public/public.js")
	//- script.
	//- 	$('#slider').nivoSlider({effect:'random',prevText: '<' , nextText: ">"});

	