extends ../horizontal_material
block content
	br
	p
	p
	.row
		.col.s12.m3
		.col.s12.m6
			.card.white.center
				.card-content.grey-text
					span.card-title.black-text
						b Iniciar Sesión con Facebook
					a(class="waves-effect waves-light blue btn" href="/auth/facebook")="Inicia Ahora"
	//- div(class="row")
	//- 	.col.s12.m3
	//- 	.col.s12.m6
	//- 		.card.white.center
	//- 			.card-content.grey-text
	//- 				span.card-title.black-text
	//- 					b Iniciar Sesión
	//- 				if(msg)
	//- 					.green.white-text=msg
	//- 				form(method="POST" action="/")
	//- 					.input-field
	//- 						i.material-icons.prefix account_circle
	//- 						input#icon_prefix.validate(type='text' name="username" style="text-transform:lowercase" )
	//- 						label(for='icon_prefix') Correo
	//- 					.input-field
	//- 						i.material-icons.prefix lock
	//- 						input#icon_telephone.validate(type='password' name="password")
	//- 						label(for='icon_telephone') Password
	//- 					input(type='submit' class="btn waves-effect waves-light green darken-3" value="Ingresar")
	//- 			.card-action
	//- 				a.blue-text(href='/registro')  Registrarme
	//- 				a.grey-text(href="/recuperar-password") Olvidé mi contraseña
