extends ../horizontal_material
block content

	.row
		.col.s12.center
			
	.row
		.col.s12.m1.l1
		.col.s12.m7.l7
			.card.white
				.card-content.grey-text(style="margin:40px")
					#slider.nivoSlider(style="background: rgba(0,0,0,.4)")
						each foto in producto.fotos
							img(src=foto.medium height="100%" class="sl" style="width: auto; height: 100%; margin:auto; ")
			
			.card
				.card-content
					h4 Descripción
				.card-tabs
					ul.tabs.tabs-fixed-width
						li.tab
							a.active.blue-text(href='#test4') Características
						li.tab
							a.blue-text(href='#test5') Preguntas
				.card-content.grey.lighten-4
					#test4
						h4=producto.descripcion
					div(id="test5" class="grey lighten-4")
						each pregunta , i in preguntas
							-var flag=0
							-var response=""
							each respuesta in respuestas
								if(pregunta._id==respuesta.pregunta)
									-flag= flag+1
									-response = respuesta.respuesta
							if(flag!=0)
								.col.s12.m8
									div(style="border-radius:30px" class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-80 white-text animate fadeLeft")
										div(class="card-content white-text")
												p.left=pregunta.usuario.nombre+" :"
												br
												h6.center=pregunta.pregunta
								.col.s12.m4
									p=""
								.col.s12
									p=""	
								
								.col.s12.m4.rigth
									p=""
								.col.s12.m8.left
									div(style="border-radius:30px" class="card gradient-45deg-green-teal")
										div(class="card-content white-text")
												h6.center="Respuesta: "+response
								
							else
								.col.s12.m8
									div(style="border-radius:30px" class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-80 white-text animate fadeLeft")
										div(class="card-content white-text")
												p.left=pregunta.usuario.nombre+" :"
												br
												h6.center=pregunta.pregunta
								.col.s12.m4
									p=""
								.col.s12.m12
									p=""
										
						if(user)
							form(action="/api/nueva-pregunta" method="POST")
								div(class="input-field col s12 card")
									br
									p="Escribe tu pregunta"
									textarea(id="textarea1" class="materialize-textarea" name="pregunta" required)
									input(type="hidden" value=producto._id name="producto")
									button(type="submit" class="btn-floating btn-large waves-effect waves-light right red")
										i(class="material-icons")="send"
						else
							.col.s12.m12.red
								p.white-text="Debes iniciar sesión para ingresar una pregunta"
					#test6
		.col.s12.m3.l3
			.card.container.row
				.col.s12.center
					h3=producto.nombre
					h5=producto.categoria.nombre
					span Precio:
					h3
						font(color='#01579b')=" $ "+producto.precio
					span Fecha de Publicación:
					p
						-var f=new Date(producto.f_creacion).toLocaleDateString()
						font(color='#01579b')= f
					h5="Compártelo"
					br
					.fb-like(data-href='https://anuncios.oscus.coop/producto/'+producto.slug, data-width='90px', data-layout='button_count', data-action='like', data-size='large', data-share='true')
					br
			//vendedor
			ul.collapsible(data-collapsible='accordion' style="margin-left: -15px;width: 100%;")
				li
					.collapsible-header.green.white-text
						i.material-icons person_add
						h6="Contactate con el Vendedor"
					.collapsible-body.center
						img.circle(src=producto.vendedor.foto , height='180px', width='180px')
						br
						p
							b Nombre:
							p=producto.vendedor.nombre
						p
							b Correo Usuario:
						a(href="mailto:"+producto.vendedor.correo target="_blank")=producto.vendedor.correo
						p
							b Telefono:
							-var ph=producto.vendedor.celular.slice(1)
							p=producto.vendedor.celular
							if(ph.length==9)
								a(class="waves-effect waves-light btn gree" href="https://wa.me/593"+ph+"?text=Estoy interesado en tu producto "+producto.nombre+" deseo más información!" target="_blank")="Whatsapp"
			a(href="http://emergenciasanitaria.oscus.coop/solicitud-credito" target="_blank")
				img(src="../images/contingencia.jpeg" width="80%" class="center")
		.col.s12.m1.l1
	.row
		div(class="col s12")
			h4(class="center")="Productos Relacionados"
			each producto , i in relacionados
				.col.s12.m3
					.card
						.card-image
							img(class="activator" src=producto.foto_1 height="200" width="100")
						.card-content
							h6=producto.nombre_producto
							h4="$"+producto.precio_producto
							a(href="/producto/"+producto.slug class="green white-text button waves-effect waves-light btn")="Mas Info"
							a(id=producto.id_producto class="white white-text button waves-effect waves-light btn" onclick="favoritos(this)")
								i(class="material-icons black-text")="favorite_border"
						div.card-reveal
							span(class="card-title grey-text text-darken-4")=producto.nombre_producto
								i(class="material-icons right")="close"
							p=producto.descripcion
		div(id="modal1" class="modal modal-fixed-footer")
			.modal-content.center
				h4="Reseñas"
				.col.s12.m12.card
					.card-content
						if(resenas)
							each resena in resenas
								.col.s12.m4
									if(resena.evaluador)
										img.circle(src=resena.evaluador.foto, height='70px', width='70px')
									.col.s12
										each val in [1, 2, 3, 4, 5]
											if(resena.puntuacion >= val)
												i(class="material-icons yellow-text")="grade"
											else
												i(class="material-icons grey-text")="grade"
										
								.col.s12.m8
									if(resena.evaluador)
										span(class="card-title")=resena.evaluador.nombre
									p(class="red-text")="Reseña"
									b(style="font-style:italic")=resena.descripcion
								.col.s12.m12

		div(id="modal2" class="modal modal-fixed-footer")
			.modal-content.center
				h4="Nueva Reseña"
				.col.s12.m12.card
					.card-content
						span.card-title="Dejanos tu opinión "
						if(user)
							form(action="/api/nueva-resena" method="POST")
								div(class="input-field col s12")
									br
									p="Escribe tu comentario sobre el vendedor"
									textarea(id="textarea1" class="materialize-textarea" name="comentario" required)
									p="Califica al vendedor"
									input(type="hidden" value=producto._id name="producto"  id="id_producto")
									input(type="hidden" value=producto.vendedor._id name="vendedor")
									select(name="calificacion")
										option(value="1")="⭐"
										option(value="2")="⭐⭐"
										option(value="3" selected)="⭐⭐⭐"
										option(value="4")="⭐⭐⭐⭐"
										option(value="5")="⭐⭐⭐⭐⭐"
									br
									p
									br
									p
									br
									p
									button(type="submit" class="btn-large waves-effect waves-light right red")="Calificar"
									br
									p
									br
									p
									br
									p
									br
									p
									br
									p
									br
									p

	#fb-root
	script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0&appId=2502467796749846&autoLogAppEvents=1')


	//- link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
	//- script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
	//- script(type="text/javascript" src="/javascripts/public/slider.js")
	script
		$(document).ready(function(){$('.modal').modal();})
	//- script(src="../javascripts/public/public.js")
	script(src="../javascripts/public/producto.js")