extends ../horizontal_material
block content
	br
	p
	p
	.row
		.col.s12.m8.offset-m2
			if(msg)
				.center.blue.white-text
					h5=msg
			.card.white.center
				.card-content.grey-text
					span.card-title.black-text
						b Recuperar Contraseña
					p="Ingresa tu correo Electrónico"
					form(method="POST" action="/recuperar-password")
						.row
							.input-field.col.s12.m12
								i.material-icons.prefix email
								input#icon_prefix.validate(type='text' name="email")
								label(for='icon_prefix') Correo Electrónico
							.input-field.col.s12.m12
								input(type="submit" value='Enviar' class="btn blue white-text")