extends ../horizontal_material
block content
	br
	p
	p
	.row
		.col.s12.m12.center
			h4="🇪🇨 #EstamosContigo 🇪🇨"
			h5="Regístrate para poder publicar"
			p="Nos complace que hayas llegado hasta aqui registrate para que empieces a subir tus productos "

	.row
		.col.s12.m4
		.col.s12.m4
			.card.white.center(style="padding-bottom:80px")
				.card-content.grey-text
					.col.s12.m12
						span.card-title.black-text
						p="Inicia de manera rápida con facebook "

						a(class="waves-effect waves-light blue btn" href="/auth/facebook")="Regístrate con Facebook "
		.col.s12.m4

		//- .col.s12.m6
		//- 	.card.white.center
		//- 		.card-content.grey-text
		//- 			span.card-title.black-text
		//- 				b Regístrarse
		//- 			form(method="POST" action="/registro")
		//- 				.row
		//- 					.input-field.col.s12.m4
		//- 						i.material-icons.prefix account_circle
		//- 						input#icon_prefix.validate(type='text' name="nombre" required)
		//- 						label(for='icon_prefix') Nombres y Apellidos
		//- 					.input-field.col.s12.m4
		//- 						i.material-icons.prefix email
		//- 						input#icon_telephone.validate(type='text' name="correo" required)
		//- 						label(for='icon_telephone') Correo Electrónico
		//- 					.input-field.col.s12.m4
		//- 						i.material-icons.prefix phone
		//- 						input#icon_telephone.validate(type='text' name="celular" required)
		//- 						label(for='icon_telephone') Teléfono Celular
						
		//- 				.row
		//- 					.input-field.col.s12.m6
		//- 						i.material-icons.prefix fingerprint
		//- 						input#icon_prefix.validate(type='text' name="ci" required)
		//- 						label(for='icon_prefix') Cédula de Identidad
		//- 					.input-field.col.s12.m6
		//- 						i.material-icons.prefix location_city
		//- 						input#icon_telephone.validate(type='text' name="ciudad" required)
		//- 						label(for='icon_telephone') Ciudad
		//- 					.input-field.col.s12.m4.center
		//- 					.input-field.col.s12.m4.center
		//- 						div(class="g-recaptcha center"  data-sitekey="6Lcl-KsUAAAAAINv5iX2lrV9PRRV9GW_pRvG_5N2")
		//- 					.input-field.col.s12.m4.center
		//- 					.input-field.col.s12.m12
		//- 						input(type='submit' class="btn waves-effect btn-large waves-light green darken-3" value="Registrar")
		//- 				.card-action
		//- 					a.blue-text(href='/')  Regresar
	script(src="https://www.google.com/recaptcha/api.js" async defer)
