extends ../horizontal_material
block content
	br
	p
	p
	.row
		.col.s12.m8.offset-m2
			if(msg)
				.center.blue.white-text
					h5=msg
			.card.white.center
				.card-content.grey-text
					span.card-title.black-text
						b Ingrear Nueva Contraseña

					form(method="POST" action="/set-password")
						.row
							.input-field.col.s12.m6
								i.material-icons.prefix lock
								input#icon_prefix.validate(type='password' name="password")
								label(for='icon_prefix') Contraseña
							.input-field.col.s12.m6
								i.material-icons.prefix lock
								input#icon_prefix.validate(type='password' name="password1")
								label(for='icon_prefix') Repite Contraseña
						.row
							.input-field.col.s12.m12
								input(type="hidden" value=usuario._id name="cod")
								input(type="submit" value='Enviar' class="btn blue white-text")